@import "variables"; 
@import "mixins";


/* DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP */
@if var(--vista-desktop=desktop){

@media (min-width:600px){    

    header .logo img {
        height: 100px;
        width: auto;
        cursor: pointer;  
        
       
         
    }   
    
 


    body{
        background-image: linear-gradient(to left bottom, var(--color-principal));
        background-size: cover;           
    }  
    
    header{ 
        height: 70px;   
        display: grid;
        grid-template-columns: repeat(5,1fr);
        grid-template-areas:     
        "logo nav nav nav suscribete";}

    .logo{
        grid-area: logo;  
        @include flex-centrar;
        position: relative; 
        animation-name: example;
         animation-duration: 3s;  
        animation-fill-mode: forwards;

    }

    @keyframes example {
        from {left: 0px;}
        to {left: 60px;}
      }
    
    header .navbar{
        grid-area: nav;
        justify-content:end;
    }
    header .suscribete{        
        height: 40px;
        width:120px;
        border: solid 1px #000;
        border-radius: 30px;
        grid-area: suscribete;
        font-size: 22px; 
        font-family:  var(--primera-fuente)   ;
        font-weight:bold;  
        transition: 0.3s;
        position: relative; 
        animation-name: example2;
        animation-name: example3;
        animation-duration: 3s;  
        animation-fill-mode: forwards;
    }

    @keyframes example2 {
        from {right: 0px;}
        to {right: 60px;}
      }

    header .suscribete{
        animation-name: example3;
        animation-iteration-count: infinite; 
        animation-timing-function: linear;
         animation-fill-mode: forwards;
    }

    @keyframes example3 {
        
        0% {
            animation-delay:2s;
            scale: 1;
        }
        10% {
            animation-delay:2s;

            
            scale: 1.1;             
        }

        20% {
            animation-delay:2s;
            scale: 1.2;             
        }

        30% {
            animation-delay:2s;
            scale: 1.3;              
        }

        40% {
            animation-delay:2s;
            scale: 1.45;              
        }

        50% {
            animation-delay:2s;
            scale: 1.4;         }

        
        60% {
            animation-delay:2s;
            scale: 1.3;              
        }

        
        70% {
            animation-delay:2s;
            scale: 1.2;              
        }

        
        80% {
            animation-delay:2s;
            scale: 1.1;              
        }

        
        90% {
            animation-delay:2s;
            scale: 1.05;              
        }

        
        100% {
            animation-delay:2s;
            scale: 1;              
        }}
    

    .suscribete:hover{
        transform: scale(1.2);
        cursor:pointer;
    }

    .header__botton{
        @include flex-centrar;}

    .header__botton button{
        background-color: #0091cd;}
    
     
    header nav li{  
        list-style: none ;}
    
    header nav ul li a{
        text-decoration: none ;
        font-size: 30px;
        font-family: var(--primera-fuente);
        padding: 25px;
        color: white; }

    header nav ul li a:hover{
        color: #8f67bb;
        transition: .3s;
    }
    
    header nav ul li:hover{        
        transform: scale(1.1);
        transition: .7s;
    }
    header ul{        
        @include flex-centrar;
        height: 100px;       
    }   
    .menuCentral  {
        margin: 75px 20px 0px 20px;
    }
    .menuCentral_parrafo--justificar{
        text-align: justify;
        font-family: var(--segunda-fuente);
        color: whitesmoke;        
    }

    .menuCentral__titulo--centrar{
        text-align: center;
        font-size: 40px;
        font-family: var(--primera-fuente)   ;
        text-decoration:dotted;
    }

    .menuCentral__imagenes{
        display: flex;
        grid-template-columns: repeat(4,1fr);
        justify-content: space-around;
        margin-top: 30px;
    }
    .menuCentral__imagenes img {
        height: 500px;
        width: auto;
        cursor: pointer;
        border: 1px solid white;
        border-radius:10px;
        padding: 15px;}

    .container__footer{   
        display: grid;  
        grid-gap: 10px;
        margin: 40px 20px 30px 20px;
        grid-template-columns: repeat(4,1fr);      
}

    footer .logo_footer img{
        height: 100px;
        width: auto;
        cursor: pointer;}
        
    .logo_footer {        
        display: flex;
        justify-content: center;
        margin-top: 65px;
    }

    .footer_pieDePagina {
        margin-top:20px;        
    }

    .footer_pieDePagina a{
        display: flex;
        flex-direction: column;
        text-decoration: none;
        margin-top: 10px;
        color: rgb(218, 83, 83);
        font-size: 20px;
        font-weight:bold;}  

    .box_footer h2{
        color: white;
        font-family: var(--primera-fuente);
        font-size:30px;    }

    .footer_pieDePagina a i{
        color: #000;}

    .contenedor_formulario{
        margin-top: 40px;
        position: relative;
        width: 100%;
        min-height: 70vh;        
        padding: 2rem;
        background-color: #fff;
        background-size: cover;  
        overflow: hidden;
        @include flex-centrar;}

.form{
    width: 100%;
    max-width: 820px;    
    background-color: rgb(221, 206, 206);
    border-radius: 10px;
    box-shadow: 0 0 20px 1px rgb(0, 0, 0, 0.1);
    z-index: 1000;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    
}  
    .contact-info{
    background-color: #009dba;
    }

    .contact-form{
    background-color: #1abc9c;
    position: relative;
    }    

    .circle{       
        border-radius: 50%;
        background: linear-gradient(15deg, transparent 20%,#149279);        
        position: absolute;
    }

    .circle.one{
        width: 130px;
        height: 130px;
        top: 130px;
        right: -40px;}

    .circle.two{
        width: 80px;
        height: 80px;
        top: 10px;
        right: 30px;}

    .contact-form:before{
        content:"";
        position: absolute;
        width: 26px;
        height: 26px;
        background-color:#1abc9c;
        transform: rotate(45deg);
        top: 50px;
        left: -13px;}

  form{
    padding: 2.3rem 2.2rem;
    z-index: 10;
    overflow: hidden;
    position: relative;
  }  

  .title{
    font-family: var(--primera-fuente)   ;
    color: #fff;
    font-weight:500 ;
    font-size: 1.5rem;
    line-height: 1;
    margin-bottom: 0.7rem;

  }

.input-container{
    position: relative;
    margin: 1rem 0;
}

.input{
    width: 100%;
    outline: none;
    border: 2px solid #fafafa;
    background: none;
    padding: 0.6rem 1.2rem;
    color: #fff;
    font-weight: 500;
    font-size: 0.95rem;
    letter-spacing: 0.5px;
    border-radius: 25px;
    transition: 0.3s;
}

textarea.input{
    padding: 0.8rem 1.2rem;
    min-height: 150px;
    border-radius: 22px;
    resize: none;
    overflow-y: auto;
}


.enviar{
    padding: 0.3rem 1.3rem;
    background-color: #fff;
    border: 2px solid #e0dada;
    font-size: 0.95rem;
    color: #1abc9c;
    line-height: 1;
    border-radius: 25px;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    margin: 0;
   
}
.enviar:hover{
    background-color: transparent;
    color: #fff; 

}
::placeholder{
    color: #fff;
    font-size: 12px;
}

.info-contacto{
    font-family: var(--tercera-fuente);
    font-weight: 200;
}

.contact-info{
    padding: 50px 30px 10px 10px;
    font-size: 15px;
    text-align: justify;
    color: #ffff;
}
.redes_sociales_contacto{
    padding-top: 50px;
    display: flex;
    justify-content:space-around;
    font-size: 35px;
    
}

.redes_sociales_contacto i{
    color: #fff;
}

.menuCentral_nosotros{
    margin-top: 70px;
    @include flex-centrar;
    justify-content: space-evenly ;
      }

.menuCentral_nosotros iframe{
    border-radius: 20px ; 
    
}

.parrafo_productos{
    text-align: justify;
    padding: 20px 20px 0 20px;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

.titulo_productos{
        margin-top: 70px;
        text-align: center;
        font-size: 40px;
        font-family: 'Delicious Handrawn', cursive; 
        color: whitesmoke;
}

.imagenes_producto{
    margin-top: 30px;
    @include flex-centrar;
    flex-wrap: wrap;    
    justify-content: space-around;
    
}

.imagenes_producto img{
    width: 300px;
    height: 200px;
    border-radius: 20px;
}
}
}