:root{
    --color-principal:   #4a44cd, #195cd6, #006fd8, #0080d6, #008ed0, #0094c7, #0099bc, #1b9daf, #299b9c, #3d978a, #4f9378, #608e68;
    --primera-fuente: 'Delicious Handrawn', cursive; 
    --segunda-fuente:'Roboto', sans-serif;
    --tercera-fuente: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

